
.public-profile {
    //min-height: 550px;
    //width: 1000px;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    //padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;

    .user-panel {
        margin-top: 30px;
        margin-bottom: 30px;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        border-bottom: 3px solid $gray-color;
        a {
            color: rgba(0, 0, 0, 0.63);
            text-decoration: none;
        }
    }
}
